# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

[]

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [9]:
# Find the establishments with a hygiene score of 20
query1 = {"scores.Hygiene": {"$eq": 20}}
result1 = establishments.find(query1)

# Use count_documents to display the number of documents in the result

count1 = establishments.count_documents(query1)  
print(count1)

# Display the first document in the results using pprint
pprint(result1[0])

0

IndexError: no such item for Cursor instance

In [10]:
# Convert the result to a Pandas DataFrame
df1 = pd.dataframe(list(result1))
# Display the number of rows in the DataFrame
Print(len(df1))
# Display the first 10 rows of the DataFrame
print(df1.head(10))

AttributeError: module 'pandas' has no attribute 'dataframe'

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query_2 = {'LocalAuthorityName': {'$regex': '.*London.*'}, 'RatingValue': {'$gte': 4}}
results_2 = establishments.find(query_2)

# Display the number of documents contained in the result
# Use count_documents to display the number of documents in the result
count2 = establishments.count_documents(query_2) 
print(count2)

# Display the first document in the results using pprint
pprint(results_2[0])

In [ ]:
# Convert the result to a Pandas DataFrame
df2 = pd.DataFrame(list(results_2))

# Display the number of rows in the DataFrame
print(len(df2))

# Display the first 10 rows of the DataFrame
print(df2.head(10))

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000


query = {"RatingValue" : {"$eq": 5}, 
         "geocode.latitude": {"$lte" : latitude + degree_search, "$gte": latitude - degree_search}, 
         "geocode.longitude": {"$lte" : longitude + degree_search, "$gte": longitude - degree_search}}
sort = [("scores.Hygiene", 1)]
limit = 5

results_3 = establishments.find(query).sort(sort).limit(limit)

# Print the results
for result in results_3:
    pprint(result)

In [ ]:
# Convert result to Pandas DataFrame
# Convert result to Pandas DataFrame
df3 = pd.DataFrame(list(results_3))
# Display the number of rows in the DataFrame
print(len(df3))

# Display the first 10 rows of the DataFrame
print(df3.head(10))

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest


results = establishments.aggregate([
    {'$group': {
        '_id': {'LocalAuthorityName': '$LocalAuthorityName', 'Hygiene': '$scores.Hygiene'},
        'count': {'$sum': 1}
    }},
    {'$match': {'_id.Hygiene': 0}},
    {'$group': {
        '_id': '$_id.LocalAuthorityName',
        'count': {'$sum': '$count'}
    }},
    {'$sort': {'count': -1}},
    {'$limit': 10}
])


# Convert the result to a Pandas DataFrame
df = pd.DataFrame(list(results), columns=['_id', 'count'])
df = df.rename(columns={'_id': 'LocalAuthorityName'})

# Print the top 10 local authority areas
print(df.head(10))

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame